<div class="modal fade" [id]="id" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">{{ title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ message }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ closeBtnText }}</button>
          <button type="button" class="btn btn-outline-danger" (click)="eventEmit($event)" data-bs-dismiss="modal"> {{ submitBtnText }}</button>
        </div>
      </div>
    </div>
  </div>