<header id="header" class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
    <div class="d-flex flex-row w-100 p-0">
      <div class="container-fluid p-0">
        <button class="navbar-brand navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" #navbarText>
          <ul class="navbar-nav mb-2 mt-2 mb-lg-0">
            <li class="nav-item">
              <a *ngIf="user" class="nav-link" aria-current="page" routerLink="aquarium">Home</a>
            </li>
            <li *ngIf="!user" class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="login">Sing In</a>
            </li>
            <li *ngIf="!user" class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/login/signup">Sign Up</a>
            </li>
            <li *ngIf="user" class="nav-item">
              <a class="nav-link" aria-current="page" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="user" class="d-flex flex-row mt-2">
        <ul class="navbar-nav mr-4">
          <li class="nav-item">
            <a class="nav-link">{{ user.name }}</a>
          </li>
        </ul>
        <img id="userImg" [src]="userImgSrc" class="nav-link">
      </div>
    </div>
  </nav>
</header>