<div class="container mt-5 p-4 login-container w-75">
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit(signInForm.value)">
    <div class="form-floating mb-3">
      <input #emailInput type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
      <label for="email">Email</label>
      <small *ngIf="signInForm.get('email').errors?.required" class="text-danger d-block mt-2">Email is required!</small>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
      <label for="password">Password</label>
      <small *ngIf="signInForm.get('password').errors?.required" class="text-danger d-block mt-2">Password is required!</small>
    </div>
    <div *ngIf="accessDenied" class="alert alert-danger mt-3 alert-dismissible fade show" role="alert">
      <strong>Ops!</strong> {{ returnMsg }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="d-grid gap-2 mt-3">
      <button type="submit" class="btn btn-info btn-lg" [disabled]="signInForm.invalid">Sign In</button>
      <p class="mt-1">Not registered? <a routerLink="/signup">Signup now!</a></p> 
    </div>
  </form>
</div>